<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Hoşgeldiniz!</h1>
          <p class="text-lead text-light">Kayıt Olmak İçin Aşağıdaki Formu Doldurmanız Gerekmektedir</p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">

        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <h1 style="font-size:xx-large ; font-family: sans-serif;">--BANKA KAYIT SİSTEMİ--</h1>
          </div>
          <form role="form">

            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-badge"></i></span>
                </div>
                <input class="form-control" placeholder="T.C. Kimlik Numaranizi Giriniz" type="text"
                  [(ngModel)]="musteri.TcNo" onkeypress='return event.charCode>= 48 &&event.charCode<= 57'
                  maxlength="11" name="TcNo">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input [(ngModel)]="musteri.Sifre" class="form-control" placeholder="Sifrenizi Giriniz" type="password"
                  name="Sifre">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input [(ngModel)]="musteri.Ad" class="form-control" placeholder="Adinizi Giriniz" type="text"
                  name="Ad">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" [(ngModel)]="musteri.SoyAd" placeholder="Soyadinizi Giriniz" type="text"
                  name="SoyAd">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-phone-square"></i></span>
                </div>
                <input class="form-control" [(ngModel)]="musteri.Telefon" placeholder="Telefon Numaranizi Giriniz"
                  type="text" name="Telefon">
              </div>
            </div>
            <!--<div class="text-muted font-italic"><small>password strength: <span
                  class="text-success font-weight-700">strong</span></small></div> -->
            <div class="row my-4">
              <div class="col-12">
                <div class="custom-control custom-control-alternative custom-checkbox">
                  <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                  <label class="custom-control-label" for="customCheckRegister">
                    <span class="text-muted">Kayıt Olmas Şartlarını <a href="#!">Okudum</a></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="button" (click)="register(musteri)" class="btn btn-primary mt-4">Kayıt Ol</button>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">

        </div>
        <div class="col-6 text-right">
          <a href="/#/login" class="text-light"><small>Giriş Yap</small></a>
        </div>
      </div>
    </div>
  </div>
</div>